<ion-content [fullscreen]="true">

  <div class="gridLayout">
    <div class="card top">
      <h1>🚀 AI Trading</h1>
      <small>Dicover how you could leverage AI for your own wealth</small>
    </div>
    <div class="card-small c1">
      <ion-icon name="briefcase-outline"></ion-icon>
      <h1>Trading basics</h1>
    </div>
    <div class="card-small c2">
      <ion-icon name="cash-outline"></ion-icon>
      <h1>Trading with candleStick</h1>
    </div>
    <div class="card-small bottom">
      <ion-icon name="bar-chart-outline"></ion-icon>
      <h1>Advanced technical analysis</h1>
    </div>
  </div>

</ion-content>